@page
@model SignalRAssignment.Pages.Customer.ListAllCusModel
@{
}
<h1>Customer Management</h1>
<a class="btn btn-primary" asp-page="./Add">Create new</a>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <td>Password</td>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            @*<th>Action</th>*@
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.AllCuses)
            {
                        <tr>
                            <td>@item.Password</td>
                            <td>@item.ContactName</td>
                            <td>@item.Address</td>
                            <td>@item.Phone</td>
                        </tr>
            }
        }
    </tbody>
</table>