@page
@model SignalRAssignment.Pages.Customer.OrderHistoryModel
@{
}
<h1>Orders History</h1>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>Shipped Date</th>
            <th>Required Date</th>
            <th>Freight</th>
            <th>Ship Address</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.Histories)
            {
                <tr>
                    <td>@item.ShippedDate</td>
                    <td>@item.RequiredDate</td>
                    <td>@item.Freight</td>
                    <td>@item.ShipAddress</td>
                </tr>
            }
        }
    </tbody>
</table>